@import "side_bar.css";
@import "note.css";
@import "cover.css";
@import "signin.css";
@import "toast.css";
@import "modal.css";
@import "notelist.css";
@import "switch.css";
@import "msg.css";
@import "modules.css";
@import "classdiagram.css";
@import "sd.css";

:root {
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color : #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

.full{
    width: 100%;
    height: 100%;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }
.site-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10%;
    padding-left: 56px;
    border-bottom-color: black;
    background-color: antiquewhite;
}
.project-main {
    background-color: var(--body-color);
}

.site-header :is(h1, h2, h3) {
    padding-right: 56px;
    margin-bottom: 0px !important;
}

.max-height {
    height: 100%;
    margin-top: 0px !important;
}
.menu-font {
    text-align: start;
    padding-left: 5%;
    font-size: 1.3rem ;
}

.margin-16 {
    margin: 16px 16px;
}
.pl-16 {
    padding-left: 16px;
}

.card-list {
    margin: 54px 128px;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
}
.card-list .header {
    display: flex;

    justify-content: center;
    align-items: center;

    margin-bottom: 16px;
}

.card-list .header a {
    text-decoration-line: none;
}

.card-list .header .msg {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 16px;

    width: 38px;
    height: 38px;
    border-radius: 38px;
    font-size: 24px;    

    cursor: pointer;
    transition: 0.2s background-color;
}
.card-list .header .msg:hover {
    background-color: #BEC9E5;
}

.project_card:hover {
    transform: translate3D(0,-1px,0) scale(1.03);
    box-shadow: 8px 28px 50px rgba(39,44,49,.07), 1px 6px 12px rgba(39,44,49,.04);
    transition: all .4s ease;
    cursor: pointer;

}
.back-black {
    background-color: black;
}

.tran-5 {
    transition: 0.5s;
}

.setting {
    display: flex;
    justify-content: center;
    width: 800px;
}

.hiding {
    display: none;
}

.under-line {
    text-decoration: underline;
}
.italic {
    font-style: italic;
}
.text-center {
    text-align: center;
}

.no-drag { 
    -webkit-user-select:none; 
    -moz-user-select:none; 
    -ms-user-select:none; 
    user-select:none;
}
.black { 
    background-color: black;
}